<!--
 * @Author: Miya
 * @Date: 2022-08-04 21:02:11
 * @LastEditTime: 2022-08-20 01:56:19
 * @LastEditors: Miya
 * @Description: ESLint Ignore Config
 * @FilePath: \Kagura-axios-request\.eslintignore
-->
# don't ever lint node_modules

node_modules

docs

# don't lint build output (make sure it's set to your correct build folder name)

lib
